// Core
@import "core/_variables";
@import "core/_mixins";
@import "core/_base";

// Its here because of mobile first
@import "modules/responsive";

.error-message {
  display: none;
}

header {
  padding:10px 0;
  
  h1 {
    small {
      color: #fff;
    }
  }

  input {
    margin-top:15px;
    display: block;
  }

  .languages {
    padding-top:20px;
    text-align: right;

    li {
      display: inline-block;

      a {
        color: #fff;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }

}

main {
  padding-top:40px;
  padding-bottom:$footer_height;
}

aside {

  h3 {
    font-weight:700;
    margin-top:40px;

    &:first-child {
      margin-top:0;
    }
  }

  ul {
    li {
      list-style-type: none;

      &.expanded {

        > ul {
          display: block;
        }

        > a {
          background-color: $cmsBlue;
          text-decoration: none;
          color: #fff;
        }
      }

      a {
        display: block;
        padding:10px;
        margin:5px 0;
        background-color: #fff;

        &:hover {
          background-color: $cmsBlue;
          text-decoration: none;
        }

      }

      ul {
        display: none;

        li {

          a {
            background-color: inherit;
            padding:3px 30px;
            margin:0;

            &:hover,
            &.active {
              background-color: rgba(0,0,0, 0.05);
              color: $blue;
            }
          }
        }
      }
    }
  }
}

.content {
  ul {
    li {
      list-style-type: none;

      a {
        color: $blue;
        padding:3px 0;
        display: block;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }

        i {
          display: inline-block;
          margin-right:5px;
        }
      }
    }
  }
}

footer {
  position: relative;
  ul {
    li {
      list-style-type: none;

      a {
        color: #fff;
        display: block;
        padding:3px 0;
        font-size:15px;

        &.active {
          text-decoration: underline;
          color: #fff;
        }

        i {
          display: inline-block;
          margin-right:5px;
        }
      }
    }
  }
  .bottom {
    background-color: $dark_gray;
    position: absolute;
    width:100%;
    bottom:0;

    p {
      margin:0;
      padding:20px;
    }

    ul {
      margin:10px 0;
      li {
        &:not(:last-child) {
          padding-right:80px;
        }

        a {
          display: inline-block;
        }
      }
    }

  }
}
