<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>TMcms</title>
    <link rel="stylesheet" href="/public/assets/css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/public/assets/css/main.min.css">
</head>
<body>

    <div class="wrapper">

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Knowledge Base <small>Find answers and be happy</small></h1>
                    </div>
                    <div class="col-sm-6">
                        <input id="search_input" placeholder="Start typing for search..." class="form-control" type="text" name="search">
                    </div>
                </div>
            </div>
        </header>

        <main class="container">
            <div class="row">
                <aside class="col-sm-4">
                    <h3>Categories</h3>
                    <ul>
                        <li>
                            <a href="#">Getting started</a>
                        </li>
                        <li>
                            <a href="#">Administration</a>
                        </li>
                        <li>
                            <a href="#">Admin panel</a>
                        </li>
                    </ul>
                    <h3>Recently added</h3>
                    <ul>
                        <li>
                            <a href="#">Getting started</a>
                        </li>
                        <li>
                            <a href="#">Administration</a>
                        </li>
                        <li>
                            <a href="#">Admin panel</a>
                        </li>
                    </ul>
                </aside>
                <div class="content col-sm-8">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h2>Administration</h2>
                            <ul>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Reverse earth rotation</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make sun cooler</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-book"></i>Make Trump disappear</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Multiple friends on facebook</a>
                                </li>
                                <li>
                                    <a href="#"><i class="glyphicon glyphicon-list-alt"></i>Increase brain memory</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Recently Added</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Something wrong
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Disabled Comments
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Theme Set Up
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Follow Up Emails
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Recently Updated</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Something wrong
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Disabled Comments
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Theme Set Up
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Follow Up Emails
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Popular</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Something wrong
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Disabled Comments
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-book"></i>
                                Theme Set Up
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                Follow Up Emails
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row bottom">
                <div class="col-sm-12">
                    <p>
                        Copyright 2016.
                    </p>
                </div>
            </div>
        </div>
    </footer>

<script src="/public/assets/js/libs/jquery-1.11.1.min.js"></script>
<script src="/public/assets/js/main.min.js"></script>
</body>
</html>